@model MulltiplaJML.Models.XML.GDXMLITENS

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteMulltiplaJML.cshtml";
}

<h2>Edit</h2>

<h4>GDXMLITENS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CHNFE" class="control-label"></label>
                <input asp-for="CHNFE" class="form-control" />
                <span asp-validation-for="CHNFE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VERAPLIC" class="control-label"></label>
                <input asp-for="VERAPLIC" class="form-control" />
                <span asp-validation-for="VERAPLIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPROD" class="control-label"></label>
                <input asp-for="CPROD" class="form-control" />
                <span asp-validation-for="CPROD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XPROD" class="control-label"></label>
                <input asp-for="XPROD" class="form-control" />
                <span asp-validation-for="XPROD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NCM" class="control-label"></label>
                <input asp-for="NCM" class="form-control" />
                <span asp-validation-for="NCM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CFOP" class="control-label"></label>
                <input asp-for="CFOP" class="form-control" />
                <span asp-validation-for="CFOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UCOM" class="control-label"></label>
                <input asp-for="UCOM" class="form-control" />
                <span asp-validation-for="UCOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QCOM" class="control-label"></label>
                <input asp-for="QCOM" class="form-control" />
                <span asp-validation-for="QCOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VUNCOM" class="control-label"></label>
                <input asp-for="VUNCOM" class="form-control" />
                <span asp-validation-for="VUNCOM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VPROD" class="control-label"></label>
                <input asp-for="VPROD" class="form-control" />
                <span asp-validation-for="VPROD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEANTRIB" class="control-label"></label>
                <input asp-for="CEANTRIB" class="form-control" />
                <span asp-validation-for="CEANTRIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UTRIB" class="control-label"></label>
                <input asp-for="UTRIB" class="form-control" />
                <span asp-validation-for="UTRIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QTRIB" class="control-label"></label>
                <input asp-for="QTRIB" class="form-control" />
                <span asp-validation-for="QTRIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VUNTRIB" class="control-label"></label>
                <input asp-for="VUNTRIB" class="form-control" />
                <span asp-validation-for="VUNTRIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INDTOT" class="control-label"></label>
                <input asp-for="INDTOT" class="form-control" />
                <span asp-validation-for="INDTOT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEAN" class="control-label"></label>
                <input asp-for="CEAN" class="form-control" />
                <span asp-validation-for="CEAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICMS_ORI" class="control-label"></label>
                <input asp-for="ICMS_ORI" class="form-control" />
                <span asp-validation-for="ICMS_ORI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICMS_CST" class="control-label"></label>
                <input asp-for="ICMS_CST" class="form-control" />
                <span asp-validation-for="ICMS_CST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICMS_VBCSTRET" class="control-label"></label>
                <input asp-for="ICMS_VBCSTRET" class="form-control" />
                <span asp-validation-for="ICMS_VBCSTRET" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICMS_VICMSSTRETI" class="control-label"></label>
                <input asp-for="ICMS_VICMSSTRETI" class="form-control" />
                <span asp-validation-for="ICMS_VICMSSTRETI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPI_CENQ" class="control-label"></label>
                <input asp-for="IPI_CENQ" class="form-control" />
                <span asp-validation-for="IPI_CENQ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPI_CST" class="control-label"></label>
                <input asp-for="IPI_CST" class="form-control" />
                <span asp-validation-for="IPI_CST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PIS_CST" class="control-label"></label>
                <input asp-for="PIS_CST" class="form-control" />
                <span asp-validation-for="PIS_CST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PIS_VBC" class="control-label"></label>
                <input asp-for="PIS_VBC" class="form-control" />
                <span asp-validation-for="PIS_VBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PIS_PPIS" class="control-label"></label>
                <input asp-for="PIS_PPIS" class="form-control" />
                <span asp-validation-for="PIS_PPIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PIS_VPIS" class="control-label"></label>
                <input asp-for="PIS_VPIS" class="form-control" />
                <span asp-validation-for="PIS_VPIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COFINS_CST" class="control-label"></label>
                <input asp-for="COFINS_CST" class="form-control" />
                <span asp-validation-for="COFINS_CST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COFINS_VBC" class="control-label"></label>
                <input asp-for="COFINS_VBC" class="form-control" />
                <span asp-validation-for="COFINS_VBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COFINS_PCOFINS" class="control-label"></label>
                <input asp-for="COFINS_PCOFINS" class="form-control" />
                <span asp-validation-for="COFINS_PCOFINS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COFINS_VCOFINS" class="control-label"></label>
                <input asp-for="COFINS_VCOFINS" class="form-control" />
                <span asp-validation-for="COFINS_VCOFINS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

