@model MulltiplaJML.Models.XML.GDXMLCTE

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcore.cshtml";
}

<h2>Create</h2>

<h4>GDXMLCTE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="chCte" class="control-label"></label>
                <input asp-for="chCte" class="form-control" />
                <span asp-validation-for="chCte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cUF" class="control-label"></label>
                <input asp-for="cUF" class="form-control" />
                <span asp-validation-for="cUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cCT" class="control-label"></label>
                <input asp-for="cCT" class="form-control" />
                <span asp-validation-for="cCT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="natOp" class="control-label"></label>
                <input asp-for="natOp" class="form-control" />
                <span asp-validation-for="natOp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="forPag" class="control-label"></label>
                <input asp-for="forPag" class="form-control" />
                <span asp-validation-for="forPag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mod" class="control-label"></label>
                <input asp-for="mod" class="form-control" />
                <span asp-validation-for="mod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serie" class="control-label"></label>
                <input asp-for="serie" class="form-control" />
                <span asp-validation-for="serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nCT" class="control-label"></label>
                <input asp-for="nCT" class="form-control" />
                <span asp-validation-for="nCT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dhEmi" class="control-label"></label>
                <input asp-for="dhEmi" class="form-control" />
                <span asp-validation-for="dhEmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tpImp" class="control-label"></label>
                <input asp-for="tpImp" class="form-control" />
                <span asp-validation-for="tpImp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tpEmis" class="control-label"></label>
                <input asp-for="tpEmis" class="form-control" />
                <span asp-validation-for="tpEmis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cDV" class="control-label"></label>
                <input asp-for="cDV" class="form-control" />
                <span asp-validation-for="cDV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tpAmb" class="control-label"></label>
                <input asp-for="tpAmb" class="form-control" />
                <span asp-validation-for="tpAmb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tpCTe" class="control-label"></label>
                <input asp-for="tpCTe" class="form-control" />
                <span asp-validation-for="tpCTe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="procEmi" class="control-label"></label>
                <input asp-for="procEmi" class="form-control" />
                <span asp-validation-for="procEmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="verProc" class="control-label"></label>
                <input asp-for="verProc" class="form-control" />
                <span asp-validation-for="verProc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cMunEnv" class="control-label"></label>
                <input asp-for="cMunEnv" class="form-control" />
                <span asp-validation-for="cMunEnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="xMunEnv" class="control-label"></label>
                <input asp-for="xMunEnv" class="form-control" />
                <span asp-validation-for="xMunEnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UFEnv" class="control-label"></label>
                <input asp-for="UFEnv" class="form-control" />
                <span asp-validation-for="UFEnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modal" class="control-label"></label>
                <input asp-for="modal" class="form-control" />
                <span asp-validation-for="modal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tpServ" class="control-label"></label>
                <input asp-for="tpServ" class="form-control" />
                <span asp-validation-for="tpServ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cMunIni" class="control-label"></label>
                <input asp-for="cMunIni" class="form-control" />
                <span asp-validation-for="cMunIni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="xml" class="control-label"></label>
                <input asp-for="xml" class="form-control" />
                <span asp-validation-for="xml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CST" class="control-label"></label>
                <input asp-for="CST" class="form-control" />
                <span asp-validation-for="CST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vBC" class="control-label"></label>
                <input asp-for="vBC" class="form-control" />
                <span asp-validation-for="vBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pICMS" class="control-label"></label>
                <input asp-for="pICMS" class="form-control" />
                <span asp-validation-for="pICMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vICMS" class="control-label"></label>
                <input asp-for="vICMS" class="form-control" />
                <span asp-validation-for="vICMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Integrado" class="control-label"></label>
                <input asp-for="Integrado" class="form-control" />
                <span asp-validation-for="Integrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emitente" class="control-label"></label>
                <input asp-for="Emitente" class="form-control" />
                <span asp-validation-for="Emitente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remetente" class="control-label"></label>
                <input asp-for="Remetente" class="form-control" />
                <span asp-validation-for="Remetente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destinatario" class="control-label"></label>
                <input asp-for="Destinatario" class="form-control" />
                <span asp-validation-for="Destinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vTPrest" class="control-label"></label>
                <input asp-for="vTPrest" class="form-control" />
                <span asp-validation-for="vTPrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

